{% extends 'base.html.twig' %}

{% block title %} Facturier {% endblock %}

{% block body %}
<div>
    <h2> Générer une facture </h2>
    {{dump(app.session.get('panier'), persons)}}
    <table class="table">
        <tr>
            <th>Prenom</th>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
        {% for person in persons %}
        <tr>
            <td> {{ person.firstName }} </td>
            <td> {{ person.lastName }}</td>
            <td> {{ person.occupant }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
