{% extends 'base.html.twig' %}

{% block title %} Facturier {% endblock %}

{% block body %}
<div>
    <h2> Générer une facture </h2>
    <table class="table">
        <tr>
            <th> Locataire </th>
            <th> Bailleur </th>
            <th> Mois </th>
            <th> Actions </th>
        </tr>

        {% for bill in bills %}
        <tr>
            <td>{{bill.renter}}</td>
            <td>{{bill.owner}}</td>
            <td>{#{bill.owner}#}</td>
            <td>
                <a href="{{path('app_bill_generate')}}"><button class="btn btn-primary">Générer</button>
            </td>
        </tr>
        {% endfor %}

        {% if bills|length == 0 %}
            <p class="text-center shadow-none p-3 mb-5 bg-light rounded">  -- no data --</p>
        {% endif %}
    </table>
</div>  
{% endblock %}
